*.so
*.o
Makefile
config/compile
config/depcomp
config.h*
config.status
config.log

doc/Makefile*
doc/EuGeneDoc.tex

plugins/Makefile
plugins/Makefile.in


src/SensorPlugins/Makefile.in
src/SensorPlugins/*/Makefile
src/SensorPlugins/*/Makefile.in
src/SensorPlugins/*/*/Makefile
src/SensorPlugins/*/*/Makefile.in



**/.deps/

src/GDIF/Makefile.in
src/GDIF/libGDIF.a
src/Makefile.in
src/Parametrization/Makefile.in
src/Parametrization/libParametrization.a
src/SensorPlugins/0_SensorTk/GetData/Makefile.in
src/SensorPlugins/0_SensorTk/GetData/egn_WAMbuilder
src/SensorPlugins/0_SensorTk/libSensorTk.a
src/SensorPlugins/MarkovIMM/GetData/egn_TrainIMM
src/SensorPlugins/MarkovProt/GetData/egn_buildMarkovProt

src/eugene
stamp-h1

/autom4te.cache/
aclocal.m4
/bin/
share/

.kdev4/
*.kdev4

